html{
  font-size:18px;
  font-family:Helvetica;
  display:flex;
  justify-content:center;

  width:100%;
}

body{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.header{
  display:flex;
  flex-direction:row;
  justify-content:center;
  background-color:black;
  width:100%;

  overflow:visible;
}

.container{
  width:960px;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;

}

.header .container{
  justify-content:flex-start;
}

.header img{
  height:1.5rem;
  padding:.5rem;
  padding-right:1rem;
}

.header p{
  color:white;
  font-size:1rem;
  padding: .66rem 0;

}

.main{

  width:100%;

  display:flex;
  flex-direction:column;
  align-items:center;
}

.cover{

  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
  overflow:visible;
  width:100%;
  height:25rem;
  display:flex;
  justify-content:center;

}

.arrival{

  color:white;
  background-color:black;
  width:20rem;
  padding:2rem 3rem;
  margin-top:9rem;
}

.arrival p{
  padding-bottom:.25rem;
  font-size:1rem;
  font-weight:bold;
}

h1{
  font-size:2rem;
  font-weight:bold;
}

.nav{

  background-color:firebrick;
  width:100%;
  display:flex;
  justify-content:center;
}

.mobile-nav{
  display:none;
}


li{
  display:flex;
  color:white;
  list-style: none;
  padding: .75rem 0;

}


.product{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

}

.item1,
.item2,
.item3{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  width:30%;
  height:15rem;
  border:black solid 3px;
  margin-top:3rem;
}

.image{
  display:flex;
  align-items:center;
  width:13rem;
  height:13rem;
}

.image img{
  display:flex;
  width:9rem;
  padding:2rem;

}
.description h2{
  padding:.5rem 0;
}

h2{
  font-size:1rem;
  color:white;
}

.description{
  display:flex;
  justify-content:center;
  padding:.5rem 0;
  width:100%;
}

.info{
  width:100%;
  display:flex;
  justify-content:center;
  align-items: center;
  padding-top:3rem;
  padding-bottom:4rem;
}

.left,
.right{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  width:100%;
}

.right{
  justify-content: flex-end;
  align-items: flex-end;
}


.description,
.box{
  display:flex;
  background-color:black
}

.box{
  padding: 1rem 2rem;
  width:35%;
}

.text{
  display:block;
  color:black;
  font-size:1rem;
}


.footer{
  height:15rem;
  background-color:black;
  width:100%;
  display:flex;
  justify-content:center;
}

.copyr{
  color:white;
  text-align:left;
  font-size:1rem;
}

@media only screen and (max-width:1024px){
  .item1,
  .item2{
    width:47%;
    overflow:hidden;
  }
  .item3{
    display:none;
  }

  .box{
    width:35%;
  }

.nav .container{
    display:none;
  }

  .mobile-nav{

    background-color:firebrick;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .nav{
    align-items:center;
    justify-content:center;
}

  .box{
    width:35%;
  }
}

@media only screen and (max-width:470px){

.header .container{
  justify-content: center;
}
  .header .container p{
    display:none;
  }
  .cover{
      height:15rem;
      width:100%;
}

  .header img{
    padding:.5rem;
}
  .cover .container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    margin-top:10rem;
    height:5rem;
    background-color: black;
    width:100%;
  }

  .arrival{
  margin:0;
  padding:0;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  width:100%;
  }

  .arrival p{
    padding-top:1rem;
    padding-left:2rem;
    font-size:.77rem;
    font-weight:bold;
  }

  h1{
    padding-left:2rem;
    font-size: 1rem;
  }

  .info .container{
    flex-direction:column;
    width:90%;
  }

  .product .container{
    align-items:center;
    justify-content:center;
  }

  .item1{
    width:90%;
  }

  .item2{
    display:none;
  }

  .box{
  width:90%;
}


.left,
.right{
  overflow:hidden;
  margin:.5rem 0;
}

  .right{
  align-items:flex-start;
}

  .footer .container{
    justify-content:center;
  }

}
